:root{
    --div-background-color:red;
    --text-color: black;
    --div-padding: 10px;
    --div-margin: 10px;
}

body{
    background-color: var(--background-color, pink) /* Fallback is pink if not declared in root */
}

.one{
    --div-background-color: blue; /* Overwrites red */
    --text-color: white; /* Overwrites Black */
}

.child{
    background-color: var(--div-background-color); 
    color: var(--text-color);
}

.one-one{
    margin:var(--div-margin);
    padding: var(--div-padding);
}

.one-two{
    margin:var(--div-margin);
    padding: var(--div-padding);
}